name: stylelint-test-rule-node
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-stylelint-test-rule-node-c73.next.yml
  pull_request:
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-stylelint-test-rule-node-c73.next.yml
  workflow_dispatch: null
  schedule:
    - cron: 0 0 * * *
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-stylelint-test-rule-node-c73-next
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  test:
    uses: ./.github/workflows/test-package.yml
    name: next
    with:
      package: stylelint-test-rule-node
      stylelint-version: stylelint/stylelint
