name: stylelint-less
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-stylelint-less-d99.next.yml
  pull_request:
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-stylelint-less-d99.next.yml
  workflow_dispatch: null
  schedule:
    - cron: 0 0 * * *
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-stylelint-less-d99-next
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  test:
    uses: ./.github/workflows/test-package.yml
    name: next
    with:
      package: stylelint-less
      stylelint-version: stylelint/stylelint#v17
      set-overrides-command: npm pkg set pnpm.overrides.stylelint
      stylelint-version-override: github:stylelint/stylelint#v17
      install-command: pnpm install --no-frozen-lockfile
      list-installed-versions-command: pnpm list --long --json stylelint
      build-command: pnpm -r build
      test-command: pnpm -r test
