name: jest-preset-stylelint
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-jest-preset-stylelint-bcf.next.yml
  pull_request:
    paths:
      - .github/workflows/test-package.yml
      - .github/workflows/test-package-jest-preset-stylelint-bcf.next.yml
  workflow_dispatch: null
  schedule:
    - cron: 0 0 * * *
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-jest-preset-stylelint-bcf-next
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  test:
    uses: ./.github/workflows/test-package.yml
    name: next
    with:
      package: jest-preset-stylelint
      stylelint-version: stylelint/stylelint#v17
